:root {
    --bg-color: #ff8863;
    --bg-hover: #ff3419;
    --color-avaliacao: #ff9443;
    --border: 1px solid #ff886a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
   background-color: #ffffffff;

}

.header {
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0; 
    right: 0;
    top: 0;
    padding: 1rem 2rem;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 1.8rem;
    font-size: 600;
    cursor: pointer;
    line-height: 1.2;
}

.header-nav {
    display: flex;
    gap: 3rem;
}

.header-nav a {
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}
.header-nav a:hover {
    color: var(--bg-hover);
}

.btn {
    display: inline-block;
    background-color: var(--bg-color);
    padding: 12px 24px;
    border-radius: 10px;
    color: #ffffffff;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--bg-hover);
    color: #ffffff;
    filter: brightness(0.9);
    transform: translateY(-2px);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    padding: 90px;
    max-width: 1200px;
    height: 600px;
    
}

.home-principal {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    gap: 1.5rem;
    
}

.home-principal h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}

.home-principal p {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.5rem;
}
.imagem-home {
    border-radius: 10px;
    width: 600px;
    height: auto;
    box-shadow: -1px -1px 20px 1px rgba(253, 145, 145, 0.41);
}
.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats strong {
    font-size: 1.5rem;
    color: var(--color-avaliacao);
}

.hero-stats li {
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 1rem;
    color: #555555;
    font-weight: 500;
}
.cardapio {
    padding: 80px 5%;
    text-align: center;

}
.cardapio h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.cardapio p {
    color: #555555;
    margin-bottom: 50px;
    font-size: 18px;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-grid li {
   position: relative;
   background-color: #fff;
   border: var(--border);
   flex-direction: column;
   overflow: hidden;
   text-align: left;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 40px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 2px 2px, rgba(0, 0, 0, 0.17) 0px 9px 11px, rgba(0, 0, 0, 0.09) 0px -2px 2px;
}


.menu-grid li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
} 

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--bg-hover);
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
}

.badge:hover {
    color: #fff;
    background-color: #ff1e00c9;
}

.menu-grid h3 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 700;
}

.menu-grid p {
    width: 350px;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.menu-grid strong {
    color: var(--color-avaliacao);
    position: absolute;
    top: 82%;
    left: 10px;
}

.menu-grid a {
    width: 98%;
    margin-top: 70px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 4px;
    margin-bottom: 2px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;
    background: linear-gradient(90deg,rgba(232, 232, 232, 1) 0%, rgb(255, 222, 172) 50%, rgb(226, 135, 15) 100%);
}
.sobre img {
    border-radius: 5px;
}
.sobre-cozinha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.sobre-cozinha h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: 800;
    color: #555555;
}
.sobre-cozinha p {
    line-height: 1.5;
    margin-bottom: 10px;
    width: 380px;
}

.sobre-cozinha li {
    margin-top: 10px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
}

.sobre-cozinha strong {
    font-weight: 700 ;
}

.cta {
    background-color: #ff9443;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.cta h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 800;
}
.cta p {
    text-align: center;
    font-size: 20px;
    color: #f0f0f0;
}
.cta a {
   text-align: center;
   background-color: white;
   color: var(--bg-color);
   opacity: calc(90%);
   font-size: 17px;
   margin-top: 10px;
}

section h3,h4 {
    font-size: 20px;
    margin-bottom: 0.4rem;
}

.text-contato p {
    display: flex;
    flex-direction: column;
}

footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding: 60px 5% 20px;
    background-color: #000000;
    color: #fff;
    margin: 0 auto;
}

footer .copy {
   grid-column: 1/-1;
   text-align: center;
   padding: 1.2rem 0 0 0;
   font-size: 18px;
}