:root {
    --bg-color: #ff8863;
    --bg-hover: #ff1e00;
    --color-avaliacao: #ff9443;
    --border-bottom: 1px solid #ffdfab;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: none;
    outline: none;
    transition: 0.2s linear;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgb(255, 231, 231) 50%, rgb(255, 243, 240) 100%);
}

.header {
    border-bottom: var(--border-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem 2rem;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 1.8rem;
    font-size: 600;
    cursor: pointer;
    line-height: 1.2;
}

.header-nav {
    display: flex;
    gap: 3rem;
}

.header-nav a {
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}
.header-nav a:hover {
    color: var(--bg-hover);
}

.btn {
    display: inline-block;
    background-color: var(--bg-color);
    padding: 12px 24px;
    border-radius: 10px;
    color: #ffffffff;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--bg-hover);
    color: #ffffff;
    filter: brightness(0.9);
    transform: translateY(-2px);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    padding: 90px;
    max-width: 1150px;
    height: 600px;
    
}

.home-principal {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    gap: 1.5rem;
    
}

.home-principal h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}

.home-principal p {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.5rem;
}
.imagem-home {
    border-radius: 10px;
    width: 600px;
    height: auto;
    box-shadow: -1px -1px 38px 1px rgba(253, 145, 145, 0.41);
}
.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats strong {
    font-size: 1.5rem;
    color: var(--color-avaliacao);
}

.hero-stats li {
    display: flex;
    flex-direction: column;
    width: max-content;
    font-size: 1rem;
    color: #555555;
    font-weight: 500;
}