:root {
    --bg-color: #ffd9ad;
    --bg-hover: #fb7968;
    --color-avaliacao: #ffaa67;
    --border-bottom: 1px solid #ffdfab;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: none;
    outline: none;
    transition: 0.2s linear;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgb(255, 231, 231) 50%, rgb(255, 243, 240) 100%);
}

.header {
    border-bottom: var(--border-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem 2rem;
    background-color: #ffffff;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    font-size: 1.8rem;
    font-size: 600;
    cursor: pointer;
    line-height: 1.2;
}

.header-nav {
    display: flex;
    gap: 3rem;
}

.header-nav a {
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}
.header-nav a:hover {
    color: var(--bg-hover);
}

.btn {
    background-color: #f3c98b;
    padding: 0.6rem 2rem;
    border-radius: 15px;
    color: #000000;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--bg-hover);
    color: #ffffff;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    padding: 80px;
    max-width: 1100px;
    height: 200px;
    
}

.home-principal {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    gap: 1.2rem;
    
}

.home-principal h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000000;
}

.home-principal p {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.5rem;
}